/* CUSTOM PROPS */

:root {
  --red: #fa5959;
  --gray: #9194a2;
  --blue: #5267df;
  --black: #242a45;
  --black: #242a45;
  --gray-50: rgba(145, 148, 162, 0.5);
  --gray-75: rgba(145, 148, 162, 0.75);
}

/* FONTS */

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.woff2") format("woff2"),
    url("../font/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("../font/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.woff2") format("woff2"),
    url("../font/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.woff2") format("woff2"),
    url("../font/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: unset;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray);
  flex-direction: column;
  background-color: #fff;
  font-family: "Poppins", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* PLACEHOLDER STYLE */

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--gray-50);
}

/* AUTOFILL STYLES */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
}

/* ELEMENT HIDER */

.visually-hidden {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

/* LOGO */

.logo {
  display: flex;
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 149px;
  height: 25px;
}

/* NAV */

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 44px;
}

.nav__link {
  font-size: 13px;
  line-height: 17px;
  color: var(--black);
  transition: 0.3s ease;
  letter-spacing: 1.5px;
}

.nav__link:hover {
  color: var(--red);
}

.nav__link:active {
  opacity: 0.6;
}

/* BTNS */

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 8px 24px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.25px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, oppacity 0.3s ease;
}

.btn:active {
  opacity: 0.6;
}

.btn--login {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  background-color: var(--red);
}

.btn--login:hover {
  color: var(--red);
  border-color: var(--red);
  background-color: #fff;
}

.btn--full {
  width: 100%;
  background-color: var(--blue);
}

.btn--full:hover {
  color: var(--blue);
  background-color: #fff;
  border-color: var(--blue);
}

.btn--blue {
  background-color: var(--blue);
}

.btn--blue:hover {
  color: var(--blue);
  background-color: #fff;
  border-color: var(--blue);
}

.btn--get {
  color: var(--gray);
  background-color: #f7f7f7;
}

.btn--get:hover {
  border-color: var(--gray);
}

.btn--contact {
  background-color: var(--red);
}

.btn--contact:hover {
  color: var(--red);
  border-color: var(--red);
  background-color: #fff;
}

/* HEADER */

.header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 48px;
}

/* HERO */

.hero {
  padding-top: 60px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 1000px 352px;
  background-image: url("../img/Rectangle.svg");
  background-position: left calc(50% + 700px) bottom;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__content {
  width: 100%;
  width: 540px;
  flex-shrink: 0;
  padding-top: 68px;
  margin-right: 65px;
}

.hero__title {
  margin-top: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 24px;
  color: var(--black);
  letter-spacing: -0.15px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__btn:first-child {
  margin-right: 16px;
}

.hero__img {
  width: 578px;
  height: 385px;
  flex-shrink: 0;
  object-fit: contain;
}

/* FEATURES */

.features {
  padding-top: 80px;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-size: 1000px 352px;
  background-position: left calc(50% - 590px) bottom;
  background-image: url("../img/Rectangle.svg");
}

.faq__title,
.download__title,
.features__title {
  margin-top: 0;
  font-size: 32px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  color: var(--black);
  margin-bottom: 16px;
  letter-spacing: -0.1px;
}

.faq__text,
.download__text,
.features__text {
  margin-top: 0;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 45px;
}

.features__btn-wrapper {
  display: flex;
  max-width: 730px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  border-bottom: 1px solid var(--gray-50);
}

.features__btn {
  flex-grow: 1;
  font-size: 16px;
  line-height: 17px;
  text-align: center;
  padding: 27px 41px;
  white-space: nowrap;
  letter-spacing: 0.533333px;
  border-bottom: 4px solid transparent;
  transition: oppacity 0.3s ease, color 0.3s ease;
  transition: oppacity 0.3s ease, color 0.3s ease;
}

.features__btn:hover {
  color: var(--red);
}

.features__btn:active {
  opacity: 0.6;
}

.features__btn--active {
  color: var(--black);
  border-bottom-color: var(--red);
}

/* FEATURE BLOCKS */

.block__wrapper {
  display: flex;
  align-items: center;
}

.block__img {
  object-fit: contain;
}

.block-img-1 {
  width: 536px;
  height: 380px;
  margin-right: 125px;
}

.block-img-2 {
  width: 670px;
  height: 380px;
  margin-right: 118px;
}

.block-img-3 {
  width: 650px;
  height: 380px;
  margin-right: 146px;
}

.block__content {
  max-width: 445px;
}

.block__title {
  margin-top: 0;
  font-size: 32px;
  margin-bottom: 0;
  font-weight: 500;
  line-height: 52px;
  color: var(--black);
  margin-bottom: 16px;
  letter-spacing: -0.1px;
}

.block__text {
  margin-top: 0;
  margin-bottom: 32px;
}

.el-hider {
  display: none;
}

.el-shower {
  display: flex;
}

/* DOWNLOAD */

.download {
  padding-top: 149px;
  padding-bottom: 149px;
}

.download__text,
.faq__text {
  max-width: 540px;
}

.download__inner {
  max-width: 911px;
  margin: 0 auto;
}

.download__cards {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: -34px;
}

.download__card {
  max-width: 280px;
  padding: 50px 24px 24px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  border-radius: 15px;
  position: relative;
  margin-left: 34px;
}

.download__card:nth-child(2) {
  margin-top: 40px;
}

.download__card:nth-child(3n) {
  margin-top: 80px;
}

.download__card:nth-child(3n + 2) {
  margin-top: 40px;
}

.card__img {
  width: 102px;
  height: 100px;
  margin-bottom: 32px;
  display: inline-block;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #242a45;
  margin-top: 0;
  margin-bottom: 6px;
}

.card__text {
  font-size: 15px;
  margin-bottom: 60px;
}

.card__dots {
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 96px;
}

/* FAQ */

.faq {
  margin-bottom: 150px;
  text-align: center;
}

.faq__text {
  margin-bottom: 56px;
}

.accordion {
  max-width: 540px;
  margin: 0 auto;
  border-top: 1px solid var(--gray-50);
}

.accordion__wrapper {
  border-bottom: 1px solid var(--gray-50);
}

.accordion__header {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  position: relative;
}

.accordion__header:hover .accordion__title {
  color: var(--red);
}

.accordion__title {
  display: inline-block;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--black);
  margin-top: 0;
  margin-bottom: 0;
  transition: color 0.3s ease;
}

.accordion__btn {
  cursor: pointer;
}

.accordion__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.accordion__btn-img {
  color: var(--blue);
}

.accordion__content {
  display: none;
}

.accordion__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: left;
}

.accordion__text:not(:last-child) {
  margin-bottom: 15px;
}

.accordion__wrapper--open .accordion__content {
  display: block;
}

.accordion__wrapper--open .accordion__btn-img {
  transform: rotate(180deg);
  color: var(--red);
}

.faq__btn {
  margin-top: 54px;
}

/* CONTACT */

.contact {
  padding-top: 58px;
  padding-bottom: 74px;
  background-color: var(--blue);
  text-align: center;
}

.contact__count {
  font-weight: 500;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 5px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 24px;
}

.contact__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.1px;
  color: #ffffff;
  max-width: 408px;
  margin: 0px auto;
  margin-bottom: 36px;
}

.form {
  max-width: 448px;
  display: flex;
  margin: 0 auto;
}

.form__email-wrapper {
  width: 100%;
  max-width: 300px;
  margin-right: 16px;
  position: relative;
}

.form__input {
  padding: 9px 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--black);
  width: 100%;
  z-index: 5;
  position: absolute;
  left: 0;
  top: 0;
}

.form__error {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(100% - 3px);
  background-color: var(--red);
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
  color: #ffffff;
  padding: 6px 12px;
  text-align-last: left;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.form__input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--red);
  color: var(--red);
  background-image: url("../img/error-disc.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

.form__input:focus + .form__error,
.form__input:valid + .form__error,
.form__input:placeholder-shown + .form__error {
  display: none;
}

.form__btn {
  padding-top: 9px;
  padding-bottom: 9px;
}

/* FOOTER */

.footer {
  background-color: var(--black);
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer__nav.nav .nav__link{
  color: #fff;
}

.footer__container {
  display: flex;
}

.footer__logo-wrapper {
  margin-right: 64px;
}

.footer__nav {
  margin-right: auto;
}

.footer__nav .nav__link:hover{
  color: var(--red);
}

.footer__socials {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer__social {
  display: flex;
}

.footer__social:not(:last-child) {
  margin-right: 40px;
}

.footer__social-link {
  color: #fff;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: var(--red);
}

.footer__social-link:active {
  opacity: 0.6;
}

.footer__social-img {
  display: block;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}