/* CUSTOM PROPS */

:root {
  --red: #fa5959;
  --gray: #9194a2;
  --blue: #5267df;
  --black: #242a45;
  --black: #242a45;
  --gray-50: rgba(145, 148, 162, 0.5);
  --gray-75: rgba(145, 148, 162, 0.75);
}

/* FONTS */

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Bold.woff2") format("woff2"),
    url("../font/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBoldItalic.woff2") format("woff2"),
    url("../font/Poppins-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.woff2") format("woff2"),
    url("../font/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-SemiBold.woff2") format("woff2"),
    url("../font/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL */

/* input pattern="^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: unset;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray);
  flex-direction: column;
  background-color: #fff;
  font-family: "Poppins", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

a,
span,
button {
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
}

/* PLACEHOLDER STYLE */

/* ::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: var(--grey);
} */

/* AUTOFILL STYLES */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
} */

/* ELEMENT HIDER */

.visually-hidden {
  border: 0;
  width: 1px;
  padding: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

/* MAIN CONTENT */

.main-content {
  flex-grow: 1;
}

/* LOGO */

.logo {
  display: flex;
  transition: 0.3s ease;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 149px;
  height: 25px;
}

/* NAV */

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 44px;
}

.nav__link {
  font-size: 13px;
  line-height: 17px;
  color: var(--black);
  transition: 0.3s ease;
  letter-spacing: 1.5px;
}

.nav__link:hover {
  color: var(--red);
}

.nav__link:active {
  opacity: 0.6;
}

/* BTNS */

.btn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  padding: 8px 24px;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 0.25px;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, color 0.3s ease, oppacity 0.3s ease;
}

.btn:active {
  opacity: 0.6;
}

.btn--login {
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 1.5px;
  background-color: var(--red);
}

.btn--login:hover {
  color: var(--red);
  border-color: var(--red);
  background-color: #fff;
}

.btn--full {
  width: 100%;
  background-color: var(--blue);
}

.btn--full:hover {
  color: var(--blue);
  background-color: #fff;
  border-color: var(--blue);
}

.btn--blue {
  background-color: var(--blue);
}

.btn--blue:hover {
  color: var(--blue);
  background-color: #fff;
  border-color: var(--blue);
}

.btn--get {
  color: var(--gray);
  background-color: #f7f7f7;
}

.btn--get:hover {
  border-color: var(--gray);
}

.btn--contact {
  background-color: var(--red);
}

.btn--contact:hover {
  color: var(--red);
  border-color: var(--red);
  background-color: #fff;
}

/* HEADER */

.header {
  padding-top: 48px;
  padding-bottom: 48px;
  text-transform: uppercase;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 48px;
}

/* HERO */

.hero {
  padding-top: 60px;
  padding-bottom: 60px;
  background-repeat: no-repeat;
  background-size: 1000px 352px;
  background-image: url("../img/Rectangle.svg");
  background-position: left calc(50% + 700px) bottom;
}

.hero__container {
  display: flex;
  align-items: flex-start;
}

.hero__content {
  width: 100%;
  width: 540px;
  flex-shrink: 0;
  padding-top: 68px;
  margin-right: 65px;
}

.hero__heading {
  margin-top: 0;
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  margin-bottom: 24px;
  color: var(--black);
  letter-spacing: -0.15px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__btn:first-child {
  margin-right: 16px;
}

.hero__img {
  width: 578px;
  height: 385px;
  flex-shrink: 0;
  object-fit: contain;
}

/* RETINA BG */

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
